#div1 h2{

    background-color:rgb(204, 91, 91);
    text-transform:uppercase;
    color: white;
    font-size: 15px;
    padding :20px;
    margin:-15px -15px 30px -15px;
    border-radius:15px 15px 0px 0px;
    
    }
    
    
    header
    {
    color:rgb(204, 91, 91);
    height: 60px;
    }
    ul{
    list-style-type: none;
    margin-right:10px;
    margin-top:-50px;
    
    }
    li{ display: inline-block;
    }
    li a{text-decoration: none;
    margin:10px;
    }
    #navo
    { float:right;
    }
    .form{
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 0.8em;
    width: 30em;
    padding: 1em;
    border: 1px solid rgb(231, 225, 225);
    margin-left:400px;
    border-radius:15px;
    }
    
    .form * {
    box-sizing: border-box;
    }
    
    .form fieldset {
    border: none;
    padding: 0;
    }
    
    
    .form label.choice {
    font-size: 0.9em;
    font-weight: normal;
    }
    
    .form label {
    text-align: left;
    display: block;
    font-weight: bold;
    }
    
    .form input[type="text"],
    .form select,
    .form textarea {
    
     width:100%;
    border: 1px solid rgb(236, 222, 222);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.3em;
    border-radius: 20px;
    }
    
    .form textarea {
    height: 100px;
    }
    
    .form input[type="radio"]{
    margin-left: 10%;
    }
    
    .form button {
    padding: 1em;
    border-radius: 0.5em;
    background-color:indianred;
    border: none;
    font-weight: bold;
    margin-left: 80%;
    margin-top: 1.8em;
    }
    
    .form button:hover {
    background-color: rgb(235, 123, 151);
    cursor: pointer;
    color:blanchedalmond;
    }
     
      .form select
      {
    background-color:rgb(204, 91, 91);
      }
      